[project]
name = "reproducible-builds-rattler-build"
version = "0.1.0"
description = "Add a short description here"
authors = ["nichmor <nmorkotilo@gmail.com>"]
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64", "osx-64", "win-64"]

[tasks]
# Rewrite the html with the updated data
generate-html = { cmd = "repror generate-html", inputs = [
    "src/repror/cli/templates/index.html.jinja",
    "repro.local.db",
], outputs = [
    "docs.local/index.html",
] }
generate-html-prod = { cmd = "repror generate-html", env = { REPRO_DB_NAME = "repro.db" }, inputs = [
    "repro.db",
    "src/repror/cli/templates/index.html.jinja",
], outputs = [
    "docs.local/index.html",
] }
# Used to generate build matrix for githubgenerate-html = "repror generate-html"
generate-recipes = "repror generate-recipes"
# Build recipes in the recipes folder
build-recipe = "repror build-recipe"
# Same as above but skip rattler-build setup
build-recipe-skip = "repror --skip-setup-rattler-build build-recipe"
# Build an rebuild a recipe
reproduce = "repror build-recipe --rebuild"
# Check recipe status
check = "repror check"
# Rebuild a single recipe using the python script
rebuild-recipe = "repror rebuild-recipe"
# Same as above but skip rattler-build setup
rebuild-recipe-skip = "repror --skip-setup-rattler-build rebuild-recipe"
# Convert a meta.yaml to a recipe.yaml
convert-recipe = "convert-conda-recipe"
# Run tests
test = "pytest tests/"


[feature.html.dependencies]
livereload = ">=2.6.3,<2.7"
[feature.html.tasks]
# Serve html locally
serve-html = { cmd = "livereload -d ./docs.local/", depends-on = "generate-html" }
serve-html-prod = { cmd = "livereload -d ./docs.local/", depends-on = "generate-html-prod" }

[feature.fmt.dependencies]
# Formatting python
ruff = ">=0.4.7,<0.5"

[feature.profile.dependencies]
# Profiling in python
pyinstrument = ">=4.6.2,<4.7"

[feature.fmt.tasks]
# Format recipes using ruff
fmt = "ruff format"


# Default dependencies
[dependencies]
python = "~=3.12"
rattler-build = "*"
pyyaml = "*"
pytest = "*"
typer = ">=0.12.3,<0.13"
jinja2 = "*"
python-dotenv = "*"
pandas = "*"
sqlmodel = "*"
pydantic = "*"

[pypi-dependencies]
repror = { path = ".", editable = true }
conda-recipe-manager = { git = "https://github.com/conda-incubator/conda-recipe-manager.git" }


[environments]
default = { features = [], solve-group = "default" }
fmt = { features = ["fmt"], no-default-feature = true }
profile = { features = ["profile"], solve-group = "default" }
html = { features = ["html"], no-default-feature = true }
